<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/importSQL.js" type="text/javascript"></script>
        <script src="/js/jquery.appear.js"></script>  
        <script src="/js/jquery-2.2.3.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/css/index.css"/>

    </head>
<body>

    <div>
        <div>
            <!-- TITLE -->
            <div class="header3rem">
                STADVDB MCO2 Web Application
            </div>

            <div class="flexdiv margin1rem" id="controls">
        
                <div class="margin1rem">
                    <form method="POST">
                        <button  > Submit</button>
                    </form>  
                </div>
                    
                <div class="margin1rem">
                    <form method="POST">
                        <button > Reset</button>
                    </form>  
                </div>

                <div class="item-margin1rem">
                    <form method="POST">
                        <h4>Enable Node 1</h4>
                        <input class="form-check-input" type="checkbox" id="node1-switch" name="nodeone" value="0">
                    </form>
                </div>
                    
                <div class="item-margin1rem">
                    <form method="POST">
                        <h4>Enable Node 2</h4>
                        <input class="form-check-input" type="checkbox" id="node2-switch" name="nodetwo" value="0">
                    </form>
                </div>       
    
                <div class="item-margin1rem">
                    <form method="POST">
                        <h4>Enable Node 3</h4>
                        <input class="form-check-input" type="checkbox" id="node3-switch" name="nodethree" value="0">
                    </form>
                    
                </div>

                <div class="margin1rem">
                    <form method="POST">
                        <select class="form-select" id="isolation-level" name="select">
                            <option value="1"Selected> Read Uncommitted </option>
                            <option value="2"> Read Committed </option>
                            <option value="3"> Read Repeatable </option>
                            <option value="4"> Serializable </option>
                        </select>
                    </form>
                </div>  

            </div>

        </div>

        <div> 

            <div class="flexdiv"> 
                
                <div class="margin1rem container flexchild" id="node1-container">
                    <h4 class=""> Case 1 </h4c>

                    <div class="margin1rem">
                        <form method="POST" action="caseone">
                            <button class="caseOneBtn" id="run-case1"> Run </button>
                        </form>  

                       
                        <form method="POST">
                            <button> Reset</button>
                        </form>  
                    
                    </div>

                  
                </div>
    
                <div class="margin1rem container flexchild" id="node2-container">
                    <h4 class=""> Case 2 </h4>
                    <div class="margin1rem">
                        <form method="POST" action="casetwo">
                            <button class="caseTwoBtn" id="run-case2"> Run </button>
                        </form>  


                        <form method="POST" action="resetcasetwothree">
                            <button> Reset</button>
                        </form>
                    </div>
                </div>

                <div class="margin1rem container flexchild" id="node3-container">
                    <h4 class="">  Case 3 </h4>

                    <div class="margin1rem">
                        <form method="POST" action="casethree">
                            <button class="caseThreeBtn" id="run-case3"> Run </button>
                        </form>  

                        <form method="POST" action="resetcasetwothree">
                            <button> Reset</button>
                        </form>


                    </div>
                </div>
                    
            </div> 

            <div class="flexdiv"> 
                
                <div class="margin1rem container flexchild" id="node4-container">
                    <h4 class=""> Case 4 </h4c>

                    <div class="margin1rem">
                        <form method="POST" action="casefour">
                            <button class="caseFourBtn" id="run-case4"> Run </button>
                        </form>  

                       
                        <form method="POST">
                            <button> Reset</button>
                        </form>  
                    
                    </div>

                  
                </div>
    
                <div class="margin1rem container flexchild" id="node5-container">
                    <h4 class=""> Case 5 </h4>
                    <div class="margin1rem">
                        <form method="POST" action="casefive">
                            <button class="caseFiveBtn" id="run-case5"> Run </button>
                        </form>  


                        <form method="POST" action="">
                            <button> Reset</button>
                        </form>
                    </div>
                </div>

                <div class="margin1rem container flexchild" id="node6-container">
                    <h4 class="">  Case 6 </h4>

                    <div class="margin1rem">
                        <form method="POST" action="casesix">
                            <button class="caseSixBtn" id="run-case6"> Run </button>
                        </form>  

                        <form method="POST" action="">
                            <button> Reset</button>
                        </form>


                    </div>
                </div>
                                    
                <div class="margin1rem container flexchild" id="node7-container">
                    <h4 class="">  Case 7 </h4>

                    <div class="margin1rem">
                        <form method="POST" action="caseseven">
                            <button class="caseSevenBtn" id="run-case7"> Run </button>
                        </form>  

                        <form method="POST" action="">
                            <button> Reset</button>
                        </form>


                    </div>
                </div>
                    
            </div> 


        </div>
    </div>
       
</body>
</html>