<!doctype html>
<html lang="en">
    <head>
        <title></title>
        
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="/js/index.js"></script>
        <script src="/js/importSQL.js" type="text/javascript"></script>
        <script src="/js/jquery.appear.js"></script>  
        <script src="/js/jquery-2.2.3.js" type="text/javascript"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>
<body style="font-family: 'Arvo', serif;">  
        
    <div class="container-fluid p-3 bgc2">
        <h1>STADVDB MCO2 Web Application</h1>
    </div>

    <div class="container-fluid d-flex flex-row p-3 bgc1 align-items-center " id="controls">
        <div class="container">
            <form method="POST">
                <h4>Enable Node 1</h4>
                <input class="form-check-input" type="checkbox" id="node1-switch" name="nodeone" value="0">
            </form>
        </div>
            
        <div class="container">
            <form method="POST">
                <h4>Enable Node 2</h4>
                <input class="form-check-input" type="checkbox" id="node2-switch" name="nodetwo" value="0">
            </form>
        </div>       

        <div class="container">
            <h4>Enable Node 3</h4>
            <form method="POST">
                <input class="form-check-input" type="checkbox" id="node3-switch" name="nodethree" value="0">
            </form>
            
        </div>

        <div class="container">
            <h5>Isolation Level</h5>
            <form method="POST">
                <select class="form-select" id="isolation-level" name="select">
                    <option value="1"Selected> Read Uncommitted </option>
                    <option value="2"> Read Committed </option>
                    <option value="3"> Read Repeatable </option>
                    <option value="4"> Serializable </option>
                </select>
            </form>
        </div>  

    </div>

    <div class="container-fluid p-3">

        <div class="container-fluid">
            <h3>Step 2: Concurrency Control and Consistency </h3>
        </div>

        <div class="container bgc4 p-3 rounded-3 mt-3">
         
           <div class="container">
                <h4> Case #1: All transactions are reading.  </h4>
                <h5 class="ms-4">Transaction 1: What year did this movie come out? (Movie name: 10 minuta)</h5>
                <h5 class="ms-4">Transaction 2: Give me all movies that were released between 1969-1971</h5>
                <h5 class="ms-4">Transaction 3: Give me all movies that were released between 1999-2000</h5>
                <h5 class="ms-4">Transaction 4: What movies have been released in 1979-1981 </h5>
                <form method="POST" action="caseone">
                    <input name="isolevel" id="iso-level-one" type="hidden" />
                    <input name="checknodeone" id="check-node-one" type="hidden" />
                    <input name="checknodetwo" id="check-node-two" type="hidden" />
                    <input name="checknodethree" id="check-node-three" type="hidden" />
                    <button type="submit" class="caseOneBtn" id="run-case1"> Run </button>
                </form>  
           </div>
        </div>

        <div class="container bgc4 p-3 rounded-3 mt-3">
            <h4> Case #2: At least one transaction is writing (update / deletion) and the others are reading.</h4>
            <h5 class="ms-4">Transaction 1: </h5>
            <h5 class="ms-4">Transaction 2: </h5>

            <div class="d-flex flex-row">
                <form method="POST" action="casetwo">
                    <input name="isolevel" id="iso-level-two" type="hidden"/>
                    <input name="c2checknodeone" id="c2-check-node-one" type="hidden" />
                    <input name="c2checknodetwo" id="c2-check-node-two" type="hidden" />
                    <input name="c2checknodethree" id="c2-check-node-three" type="hidden" />
                    <button type="submit" class="caseTwoBtn me-2" id="run-case2"> Run </button>
                </form>  
                <form method="POST" action="resetcasetwothree">
                    <button> Reset</button>
                </form>
            </div>
        </div>

        <div class="container bgc4 p-3 rounded-3 mt-3">
            <h4>  Case #3: All transactions are writing (update / deletion). </h4>
            <h5 class="ms-4">Transaction 1: </h5>
            <h5 class="ms-4">Transaction 2: </h5>

            <div class="d-flex flex-row">
                <form method="POST" action="casethree">
                    <input name="isolevel" id="iso-level-three" type="hidden"/>
                    <input name="c3checknodeone" id="c3-check-node-one" type="hidden" />
                    <input name="c3checknodetwo" id="c3-check-node-two" type="hidden" />
                    <input name="c3checknodethree" id="c3-check-node-three" type="hidden" />
                    <button type="submit" class="caseThreeBtn me-2" id="run-case3"> Run </button>
                </form>  

                <form method="POST" action="resetcasetwothree">
                    <button> Reset</button>
                </form>


            </div>
        </div>
    </div>


    <div class="container-fluid p-3">

        <div class="container-fluid">
            <h3>Step 3: Global Failure Recovery </h3>
        </div>

         <div class="container bgc4 p-3 rounded-3 mt-3" >
            <h4 > Case #1: Transaction failure in writing to central node when attempting to replicate the transaction from Node 1 or Node 2 </h4>

            <div class="container d-flex flex-row">
                <form method="POST" action="casefour">
                    <input name="isolevel" id="iso-level-four" type="hidden"/>
                    <input name="c4checknodeone" id="c4-check-node-one" type="hidden" />
                    <input name="c4checknodetwo" id="c4-check-node-two" type="hidden" />
                    <input name="c4checknodethree" id="c4-check-node-three" type="hidden" />
                    <button class="caseFourBtn me-2" id="run-case4"> Run </button>
                </form>  
                <form method="POST">
                    <button>Reset</button>
                </form>  
            </div>
        </div>

         <div class="container bgc4 p-3 rounded-3 mt-3">
            <h4> Case #2: Transaction failure in writing to Node 2 and Node 3 when attempting to replicate the transaction from central node </h4>

            
            <div class="container d-flex flex-row">
                <form method="POST" action="casefive">
                    <input name="isolevel" id="iso-level-five" type="hidden"/>
                    <input name="c5checknodeone" id="c5-check-node-one" type="hidden" />
                    <input name="c5checknodetwo" id="c5-check-node-two" type="hidden" />
                    <input name="c5checknodethree" id="c5-check-node-three" type="hidden" />
                    <button class="caseFiveBtn me-2" id="run-case5"> Run </button>
                </form>  


                <form method="POST" action="">
                    <button> Reset</button>
                </form>
            </div>
        </div>

        <div class="container bgc4 p-3 rounded-3 mt-3" >
            <h4>Case #3: The central node is unavailable during the transaction and then eventually comes back online. </h4>

            <div class="container d-flex flex-row">
                <form method="POST" action="casesix">
                    <input name="isolevel" id="iso-level-six" type="hidden"/>
                    <input name="c6checknodeone" id="c6-check-node-one" type="hidden" />
                    <input name="c6checknodetwo" id="c6-check-node-two" type="hidden" />
                    <input name="c6checknodethree" id="c6-check-node-three" type="hidden" />
                    <button class="caseSixBtn me-2" id="run-case6"> Run </button>
                </form>  

                <form method="POST" action="">
                    <button> Reset</button>
                </form>


            </div>
        </div>
                                    
        <div class="container bgc4 p-3 rounded-3 mt-3" >
            <h4 class="">Case #4: Node 2 or Node 3 is unavailable during the transaction and then eventually comes back online.</h4>

            <div class="container d-flex flex-row">
                <form method="POST" action="caseseven">
                    <input name="isolevel" id="iso-level-seven" type="hidden"/>
                    <input name="c7checknodeone" id="c7-check-node-one" type="hidden" />
                    <input name="c7checknodetwo" id="c7-check-node-two" type="hidden" />
                    <input name="c7checknodethree" id="c7-check-node-three" type="hidden" />
                    <button class="caseSevenBtn me-2" id="run-case7"> Run </button>
                </form>  

                <form method="POST" action="">
                    <button> Reset</button>
                </form>


            </div>
        </div>

    </div>

    

        

        


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/importSQL.js" type="text/javascript"></script>
    <script src="/js/jquery.appear.js"></script>  
    <script src="/js/jquery-2.2.3.js" type="text/javascript"></script>
       
</body>
</html>