<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "/js/index.js"></script>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>

    <body>

        <form>
            <button type="button" id="">Success</button>
            <input class="form-check-input" type="checkbox" id="node1-switch">
            <input class="form-check-input" type="checkbox" id="node2-switch">
            <input class="form-check-input" type="checkbox" id="node3-switch">

            <select class="form-select" id="isoType">
                <option value="1" Selected>Read Uncommitted</option>
                <option value="2">Read Committed</option>
                <option value="3">Read Repeatable</option>
                <option value="4">Serializable</option>
            </select>
        </form>

        
    </body>
</html>