/* 
Light Blue  - #889eb9
Medium Blue - #547296
Dark Blue   - #0B132B
*/

:root{
    --lblue:#889eb9;
    --mblue:#547296 ;
    --dblue:#0B132B;
    --flesh: rgb(219, 199, 173)
}

.bgc1{
   background-color: var(--lblue); 
}

.bgc2{
    background-color: var(--mblue); 
 }

 .bgc3{
    background-color: var(--dblue); 
 }

 .bgc4{
     background-color:var(--flesh)
 }

body {
    background-color: #889eb9;
    height: auto;
    width: auto;
}

.flexchild_2row {
    flex: 2 0 35%;
    margin: 5px;
    height: 100px;
}

.padding1rem{
    padding: 1rem;
}

.item-margin1rem{
    margin-left: 1rem;
    margin-right: 1rem;
}

.margin1rem {
    margin: 1rem;
}

.box {
    border: red;
    border-style: solid;
}

.center {
    margin: 0;
    text-align: center;    
    justify-content: center;
}

.actions {
    background-color: #547296 ;
    height: auto;
    width: auto;
    padding-bottom: 2rem;
}



